@import '../../../styles/index.scss';

.wrapper {
  cursor: pointer;
  font-style: normal;
  font-weight: vw(600);
  font-size: vh(24);
  line-height: vh(29);
  background: transparent;
  border: none;

  color: #ffffff;
}
