@import '../../../styles/index.scss';

.wrapper {
  width: vw(836);
  height: vh(795);
  margin: 0 auto;

  .chatPlace {
    display: flex;
    align-items: center;
    justify-content: center;
    width: vw(836);
    height: vh(725);
    background-color: $color-lldark;
    overflow-y: scroll;
    scrollbar-width: none;

    .chat {
      display: flex;
      flex-direction: column;
      width: vw(800);
      height: vh(685);
    }
  }

  .input {
    margin-top: vh(10);
    width: vw(836);
    height: vh(50);
    background-color: $color-lldark;
    border-bottom-left-radius: vh($borderRadius);
    border-bottom-right-radius: vh($borderRadius);

    input {
      width: vw(700);
      padding: vw(12) vw(24);
      background-color: transparent;
      outline: none;
      border: none;

      font-family: 'Helvetica Neue', Roboto, sans-serif;
      font-style: normal;
      font-weight: vw(400);
      font-size: vw(14);
      line-height: vw(17);
      color: $textColor;
    }
  }
}
