@import '../../styles/index.scss';

@mixin textStyleMixin {
  font-family: 'Helvetica Neue', Roboto, sans-serif;
  font-style: normal;
  color: $textColor;
  font-weight: vw(600);
  font-size: vw(16);
  line-height: vw(19);
}

.wrapper {
  width: vw($windowWidth);
  height: vh(655);
  margin: 0 auto;

  .content {
    width: vw(550);
    height: vh(510);
    margin: vh(270) auto 0 auto;
    border-radius: vh($borderRadius);
    background-color: $color-ldark;
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile {
      margin-top: vh(25);
      width: vw(480);
      display: flex;
      align-items: center;

      .setProfileInput {
        margin-left: vw(5);
        height: vh(34);
        display: flex;
        flex-direction: column;
        height: vh(112);
        justify-content: space-between;

        .btn {
          width: vw(235);
          height: vh(34);
        }

        .title {
          opacity: 50%;
          @include textStyleMixin;
        }
      }

      .profileImage {
        width: vh(110);
        height: vj(110);
        border-radius: 110px;
        overflow: hidden;
        img {
          width: vw(110);
          height: vh(110);
        }
      }
    }

    .name {
      margin-top: vh(15);
    }

    .surname {
      margin-top: vh(15);
    }

    .login {
      margin-top: vh(15);
    }

    .password {
      margin-top: vh(15);
    }

    .controls {
      width: vw(480);
      display: flex;
      flex-direction: column;

      .registrationBtn {
        margin-top: vh(15);
        margin-right: vw(25);
        align-self: flex-end;
      }

      .createAccount {
        display: flex;
        margin-top: vh(15);
        align-self: flex-start;
        @include textStyleMixin;

        .createLink {
          // border-bottom: 1px solid $textColor;
          text-decoration: underline;
          text-underline-offset: vh(5);
          margin-left: vw(8);

          @include textStyleMixin;
        }
      }
    }
  }
}
