@import '../../../styles/index.scss';

.wrapper {
  width: vw(480);
  height: vh(50);
  display: flex;
  border-radius: vh($borderRadius);
  display: flex;
  position: relative;
  align-items: center;

  align-items: center;
  background-color: $color-lldark;

  input {
    outline: none;
    background-color: transparent;
    border: none;

    font-family: 'Helvetica Neue', Roboto, sans-serif;
    font-style: normal;
    color: $textColor;
    font-weight: vw(400);
    font-size: vw(14);
    line-height: vw(17);

    width: vw(370);
    padding: vw(12) vw(24);
  }
}
