@import '../../styles/index.scss';

@mixin textStyleMixin {
  font-family: 'Helvetica Neue', Roboto, sans-serif;
  font-style: normal;
  color: $textColor;
  font-weight: vw(600);
  font-size: vw(16);
  line-height: vw(19);
}

.wrapper {
  width: vw($windowWidth);
  height: vh(880);
  margin: 0 auto;

  .content {
    width: vw(550);
    height: vh(245);
    margin: vh(270) auto 0 auto;
    border-radius: vh($borderRadius);
    background-color: $color-ldark;
    display: flex;
    flex-direction: column;
    align-items: center;

    .login {
      margin-top: vh(32);
    }

    .password {
      margin-top: vh(15);
    }

    .controls {
      width: vw(480);
      display: flex;
      flex-direction: column;

      .loginBtn {
        margin-top: vh(15);
        margin-right: vw(25);
        align-self: flex-end;
      }

      .createAccount {
        display: flex;
        margin-top: vh(10);
        align-self: flex-start;
        @include textStyleMixin;

        .createLink {
          // border-bottom: 1px solid $textColor;
          text-decoration: underline;
          text-underline-offset: vh(5);
          margin-left: vw(8);

          @include textStyleMixin;
        }
      }
    }
  }
}
