@import '../../../styles/index.scss';

.wrapper {
  .sliderButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: vw(24);
    height: vh(24);

    svg {
      width: vw(24);
      height: vh(24);
    }
  }

  .window {
    width: vw(836);

    .item {
      margin-left: vw(16);

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
