@import '../../../styles/index.scss';

$marging: 15;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: vh($marging);
  height: vh(220);
  width: vw($windowWidth);

  background-color: $color-ldark;

  .sliderButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: vw(24);
    height: vh(24);

    svg {
      width: vw(24);
      height: vh(24);
    }
  }

  .window {
    width: vw(836);

    .item {
      margin-left: vw(16);

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
