@import '../../styles/index.scss';

$marging: 15;

.wrapper {
  width: vw($windowWidth);
  height: vh(1135);
  margin: 0 auto;

  .content {
    margin-top: vh($marging);
    display: flex;
    flex-direction: column;
  }
}
